extends layout

block content
  .auth-container
    header.auth-header
      block header-text
      if mode == 'login'
        h2.auth-title Panel de Control
        p.auth-subtitle Introduce tus credenciales de mecánico
      else if mode == 'register'
        h2.auth-title Nuevo Recluta
        p.auth-subtitle Únete al equipo de boxes de Rust-eze
      else if mode == 'forgot'
        h2.auth-title ¿Problemas en el motor?
        p.auth-subtitle Introduce tu correo para enviarte una grúa de recuperación

    .auth-body
      if mode == 'login'
        form#loginForm(action="/login" method="POST")
          .input-group
            label(for="email") Correo Electrónico
            input#email(type="email" name="email" required placeholder="rayo@mcqueen.com")
          .input-group
            label(for="password") Contraseña
            input#password(type="password" name="password" required placeholder="••••••••")
          button.btn-primary(type="submit") Encender Motores
          .form-options
            p ¿Nuevo? 
              a(href="/register") Regístrate
            p
              a(href="/forgot") ¿Olvidaste la clave?

      else if mode == 'register'
        form#registerForm(action="/register" method="POST")
          .input-group
            label(for="name") Nombre
            input#name(type="text" name="name" required placeholder="Ej. Rayo")
          .input-group
            label(for="surname") Apellido
            input#surname(type="text" name="surname" required placeholder="Ej. McQueen")
          .input-group
            label(for="email") Correo
            input#email(type="email" name="email" required placeholder="tu@correo.com")
          .input-group
            label(for="password") Contraseña
            input#password(type="password" name="password" required placeholder="Mínimo 8 caracteres")
            label(for="passwordRepeat") Repetir Contraseña
            input#passwordRepeat(type="password" name="passwordRepeat" required placeholder="Mínimo 8 caracteres")
          button.btn-primary(type="submit") Unirse a la Escudería
          .form-options
            p
              a(href="/login") Ya tengo cuenta, volver al garage
      
      else if mode == 'forgot'
        form#forgotForm(action="/forgot" method="POST")
          .input-group
            label(for="email") Tu Correo de Mecánico
            input#email(type="email" name="email" required placeholder="mecanico@rusteze.com")
          button.btn-primary(type="submit") Enviar Auxilio Vial
          .form-options
            p
              a(href="/login") Volver al Garage y reintentar logueo

    if error
      p.error-message= error