extends index

block content
  .auth-container
    
    header.auth-header
      block header-text
        if mode == 'login'
          h2 Panel de Control
          p Introduce tus credenciales de mecánico
        else if mode == 'register'
          h2 Nuevo Recluta
          p Únete al equipo de boxes de Rust-eze
        else if mode == 'forgot'
          h2 ¿Problemas en el motor?
          p Introduce tu correo para enviarte una grúa de recuperación

    .auth-body
      
      if mode == 'login'
        form#loginForm(action="/views/login" method="POST")
          .input-group
            label(for="email") Correo Electrónico
            input#email(type="email" name="email" required placeholder="rayo@mcqueen.com")
          .input-group
            label(for="password") Contraseña
            input#password(type="password" name="password_hash" required placeholder="••••••••")
          button.btn-primary(type="submit") Encender Motores
          
          .form-options
            p ¿Nuevo? 
              a(href="/views/registro") Regístrate
            p
              a(href="/views/recuperar") ¿Olvidaste la clave?

      
      else if mode == 'register'
        form#registerForm(action="/auth/register" method="POST")
          .input-group
            label(for="name") Nombre
            input#name(type="text" name="name" required placeholder="Ej. Rayo")
          .input-group
            label(for="surname") Apellido
            input#surname(type="text" name="surname" required placeholder="Ej. McQueen")
          .input-group
            label(for="email") Correo
            input#email(type="email" name="email" required placeholder="tu@correo.com")
          .input-group
            label(for="password") Contraseña
            input#password(type="password" name="password_hash" required placeholder="Mínimo 8 caracteres")
          button.btn-primary(type="submit") Unirse a la Escudería
          
          .form-options
            p
              a(href="/views/login") Ya tengo cuenta, volver al garage

      
      else if mode == 'forgot'
        form#forgotForm(action="/auth/forgot" method="POST")
          .input-group
            label(for="email") Tu Correo de Mecánico
            input#email(type="email" name="email" required placeholder="mecanico@rusteze.com")
          button.btn-primary(type="submit") Enviar Auxilio Vial
          
          .form-options
            p
              a(href="/views/login") Volver al Garage y reintentar logueo

      
      if error
        p.error-message= error